#one{
    text-align: center;
    padding-top: 20%;
    position: relative ;
    z-index: 1;
    display: none;
}

#b1{
    
    font-size: 75px;
    position: absolute;
    z-index: 2;
    margin-left: 39%;
    padding: 10px;
    top: 37%;

}

#layer{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    opacity: 50%;
    position: absolute;
    z-index: 3;
    top: 0;
    display: none;
}

#option{
    text-align: center;
    background-color: black;
    color: white;
    width: 550px;
    height: 350px;
    position: absolute;
    z-index: 4;
    top: 25%;
    left: 35%;
    display: none;
}

#b2{
    margin-top: 70px;
}


#b4{
    position: absolute;
    right: 0px;
}

#english{
    text-align: center;
    background-color: black;
    color: white;
    width: 550px;
    height: 350px;
    position: absolute;
    z-index: 5;
    font-size: larger;
    top: 25%;
    left: 35%;
    display: none;
}

#eng,#tam{
    padding-top: 120px;
}

#TAMIL{
    text-align: center;
    background-color: black;
    color: white;
    width: 550px;
    height: 350px;
    position: absolute;
    z-index: 5;
    font-size: larger;
    top: 25%;
    left: 35%;
    display: none;
}

#option,#english,#TAMIL{

    background-color: rgb(1, 0, 55)
}

@media (max-width: 360px) {
    #b1 {
       font-size: 35px;
       position: absolute;
       left: -50px;
    }

    #one{
        padding-top: 80%;
    }

    #b2,#b3{
        width:80px;
        height: 20px;
        font-size: -50px;
        font-style: normal;
        
        
    }

    #b2{
        margin-top: 30px;
    }

    #option,#english,#TAMIL{
        width: 260px;
        height: 160px;
        left: 50px;
        top: 250px;
    }

    #eng{
        padding-top: 40px;
    }

    #tam{
        padding-top: 30px;
        font-size: smaller;
    }


 }

 @media (min-width: 360px){

    #b2,#b3{
        width: 250px;
        font-size: 50px;
        font-style: bold;
    }
 }
 